@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,500,700&display=swap&subset=latin,latin-ext);

div[data-type="chapter"] {
  color: #000000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
}

h1[data-type="document-title"] {
  padding-left: 0.9in;
  line-height: 0em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

h1[data-type="document-title"] .os-part-text,
h1[data-type="document-title"] .os-number {
  color: #0074bc;
  margin-right: 8px;
  font-weight: bolder;
  line-height: 1.5rem;
  font-family: "Muli", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h1[data-type="document-title"] .os-divider {
  display: block;
}

h1[data-type="document-title"] .os-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: lighter;
}

div.os-figure.has-splash .splash {
  background-color: #0074bc;
  width: 8.65in;
  text-align: right;
  margin: 0;
}

div.os-figure.has-splash .splash img {
  width: 7.75in;
  vertical-align: middle;
}

div.os-figure.has-splash .os-caption-container {
  background-color: #eeeae0;
  font-family: "IBM Plex Sans", sans-serif;
  width: 8.65in;
  padding: 1rem 2.5in 2rem 0.9in;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div.os-figure.has-splash .os-caption-container .os-title-label,
div.os-figure.has-splash .os-caption-container .os-number {
  color: #c31427;
  font-family: "Muli", sans-serif;
  font-weight: bold;
}

div.os-figure.has-splash {
  margin-bottom: 1.5rem;
}

.intro-body {
  margin-bottom: 0.7rem;
  width: 8.65in;
  padding-left: 0.9in;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.intro-body .os-chapter-outline {
  background-color: #0074bc;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin-right: 0rem;
  margin-left: 2rem;
  padding: 1.5em 0 1.5rem 1.5rem;
  color: white;
  -ms-flex-preferred-size: 3in;
  flex-basis: 3in;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.intro-body .os-chapter-outline a {
  text-decoration: none;
  color: white;
  text-align: left;
  display: block;
  line-height: 1.5rem;
  padding-right: 0.5in;
}

.intro-body .intro-text {
  -webkit-box-flex: 8in;
  -ms-flex: 8in;
  flex: 8in;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
}

.intro-text h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.intro-text h2,
.intro-text p {
  display: inline;
}

.intro-body .os-title {
  border-bottom: white 1px solid;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}

[data-type="page"].chapter-content-module {
  padding-left: 0.9in;
  width: 8.15in;
  margin-top: -6em;
}

[data-type="page"].chapter-content-module h2 {
  color: #0074bc;
  font-family: "Muli", sans-serif;
  font-size: 1.7rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

[data-type="page"].chapter-content-module h3 {
  color: #0074bc;
  font-family: "Muli", sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0em;
}

[data-type="page"].chapter-content-module p {
  font-style: italic;
  color: #0074bc;
  font-family: "Muli", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.17em;
  line-height: 1.5rem;
}

[data-type="page"].chapter-content-module ul {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  padding-left: 1.5em;
}

[data-type="page"].chapter-content-module ul li::before {
  content: "\2022";
  color: #0074bc;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
